<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Flask Template Example</title>

</head>

<body>
    <h1>{{ message }}</h1>

    <p>{{ contacts }}</p>
    <p>My Contacts:</p>
    <ul>
        {% for contact in contacts %}
        <li>{{ contact }}</li>
        {% endfor %}
    </ul>
    <a href="http://127.0.0.1:5000/home" class="button3 bouncy">Home</a>
    <a href="http://127.0.0.1:5000/about" class="button3 bouncy">Current Song being played</a>
</body>

</html>